<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${editCheeses.cheeseName + ' (' + editCheeses.id + ')'}"></h1>
<nav th:replace="fragments :: navigation"></nav>


<form method="post" th:action="@{/cheese}">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Cheese Name </label>
      <input type="text" name="cheeseName" class="form-control" th:value="${editCheeses.cheeseName}"/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Description </label>
      <input name="cheeseDescription" class="form-control" th:value="${editCheeses.cheeseDescription}" />
    </div>
  </div>
  <input type="hidden" th:value="${editCheeses.id}" name="cheeseId" />
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="submit" value="Edit" />
    </div>
  </div>
</form>

</body>
</html>