<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
  <head th:replace="fragments :: head"></head>
</head>
<body class="container">

  <h1 th:text="${title}"></h1>
  <nav th:replace="fragments :: navigation"></nav>

  <p th:unless="${cheeses} and ${cheeses.size()}">No cheeses ☹</p>

  <div th:if="${cheeses.size() != 0}">
    <form method="post">

      <table class="table table-borderless">
        <tr class="thead-light d-flex">
          <th class="col-2">Select</th>
          <th class="col-4">Name</th>
        </tr>
        <tr class="d-flex" th:each="cheese : ${cheeses}">
          <td class="col-2">
            <input name="cheeseIds"
                   th:value="${cheese.id}"
                   th:id="${cheese.id}" type="checkbox" />
          </td>
          <td class="col-4" th:text="${cheese.cheeseName}"></td>
        </tr>
      </table>

      <input type="submit" value="Remove" />
    </form>
  </div>

</body>
</html>